:root {
    --bush-1: #0ba062;
    --bush-2: #21a870;
}

/* CREATE  BUSCHES */
.bushes,
.bushes::before {
    position: absolute;
    border-radius: 50% 50% 0% 0%;
}

/* CREATE  CLOUDS */
.cloud {
    z-index: 75;
    top: 80%;
    left: 5%;
}

.cloud::before {
    display: block;
    content: "";
    top: -20%;
    left: 45%;
}

.cloud::after {
    display: block;
    content: "";
    top: 0%;
    left: 100%;
}

.clouds,
.clouds::before,
.clouds::after {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 2vw;
    height: 4vw;
}

.cloud-1-4 {
    z-index: 75;
    position: absolute;
    overflow: hidden;
    width: 7vh;
    height: 5vh;
}

/* SET ALL CLOUDS IN POSITION (CLOUD WRAPPER)*/
.cloud-1 {
    z-index: 75;
    left: 15%;
    top: 15%;
}

.cloud-2 {
    z-index: 75;
    left: 30%;
    top: 4%;
}

.cloud-3 {
    z-index: 75;
    left: 65%;
    top: 18%;
}

.cloud-4 {
    z-index: 75;
    left: 80%;
    top: 5%;
}


.bushes-1 {
    background-color: var(--bush-1);
    height: 25vw;
    width: 35vw;
    left: -10%;
    bottom: -20%;
    z-index: 5;
}

.bushes-1::before {
    content: "";
    display: block;
    background-color: var(--bush-1);
    height: 25vw;
    width: 35vw;
    left: 60%;
    bottom: -15%;
    z-index: 5;
}

.bushes-2 {
    background-color: var(--bush-2);
    height: 25vw;
    width: 28vw;
    left: -10%;
    bottom: -10%;
    z-index: 4;
}

.bushes-2::before {
    content: "";
    display: block;
    background-color: var(--bush-2);
    height: 27vw;
    width: 27vw;
    left: 55%;
    bottom: -20%;
    z-index: 4;
}

.cloud-1-4 {
    width: 7vh;
    height: 5vh;
}


@media (min-width: 768px) {
    .bushes-1 {
        left: -10%;
        bottom: -35%;
    }

    .bushes-1::before {
        left: 40%;
        bottom: -15%;
    }

    .bushes-2 {
        left: -10%;
        bottom: -25%;
    }

    .bushes-2::before {
        left: 55%;
        bottom: -20%;
    }

    .cloud-2 {
        top: 2%;
    }
}

 @media (min-width: 992px) {
    .bushes-1 {
        left: -10%;
        bottom: -25%;
    }

    .bushes-1::before {
        left: 50%;
        bottom: -25%;
    }

    .bushes-2 {
        left: -10%;
        bottom: -15%;
    }

    .bushes-2::before {
        left: 55%;
        bottom: -20%;
    }

    .cloud-2 {
        top: 1%;
    }
}

@media (min-width: 1200px) {
    .bushes-1 {
        bottom: -30%;
    }

    .bushes-1::before {
        left: 60%;
        bottom: -15%;
    }

    .bushes-2 {
        bottom: -25%;
    }

    .cloud-2 {
        top: 0%;
    }
}