@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&display=swap');

:root {
  --bgColor: linear-gradient(to bottom, #1976d2, #448aff);
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  border: solid black;
}
body {
  margin: 0;
  background: var(--bgColor);
  border: none;
}

.main-wrapper {
  width: 100vw;
  height: 90vh;
  
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
}

.title-wrapper {
  text-align: center;
  position: relative;
  color: white;
  left: 50%;
  width: 40vw;
  margin: 0 0 0 -20vw;
  overflow: hidden;
  border: solid black;
}

.game-wrapper {
  text-align: center;
  position: relative;
  color: white;
  top: 30%;
  left: 50%;
  height: 40vh;
  width: 40vw;
  margin: -20vh 0 0 -20vw;
  border: solid black;
}

.game-title {
  margin: 0;
  font-family: 'Caesar Dressing', cursive;
  font-size: 60px;
  border: solid black;
}

.game-slogan {
  border: solid black;
}

.win,
.lose {
  display: none;
}

.win h2 {
  color: red;
}

.lose h2 {
  color: blue;
}

footer {
  position: absolute;
  display: grid;
  bottom: 0;
  margin: 0;
  text-align: center;
  padding: 5px 0 5px 0;
  background: #34a853;
  height: 10vh;
  width: 100vw;
}

footer>div {
  place-self: center;
  place-content: center;
}