:root {
  --bgColor: linear-gradient(to bottom, #1976d2, #448aff);
}

.wrapper {
  background: var(--bgColor);
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.win,
.lose {
  display: none;
}

.win h2 {
  color: red;
}

.lose h2 {
  color: blue;
}